<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - ManageShop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ================================= css ========================================= -->
    <link rel="stylesheet" type="text/css" href="~/css/Style.css">
    <!-- ============================== boxicons cdn link ============================== -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/Styletable.css">
    <!--===============================================================================================-->
</head>
<body>
    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <i class='bx bxs-hot'></i>
                <div class="logo_name">FireFlame</div>
            </div>
            <i class="bx bx-menu" id="btn"></i>
        </div>
        <ul class="nav_list">
            <li>
                <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                    <i class='bx bxs-dashboard'></i>
                    <span class="links_name">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="Products" asp-action="Index">
                    <i class='bx bx-table'></i>
                    <span class="links_name">Sản Phẩm</span>
                </a>
                <span class="tooltip">Sản Phẩm</span>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="Categories" asp-action="Index">
                    <i class='bx bx-table'></i>
                    <span class="links_name">Danh mục</span>
                </a>
                <span class="tooltip">Danh mục</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-report'></i>
                    <span class="links_name">Thống kê</span>
                </a>
                <span class="tooltip">Thống kê</span>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="Login" asp-action="Logout">
                    <i class='bx bx-cog'></i>
                    <span class="links_name">Đăng xuất</span>
                </a>
                <span class="tooltip">Đăng xuất</span>
            </li>
        </ul>
    </div>
    <div class="home_content">
        @RenderBody()

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; @DateTime.Now.Year - FireFlame - TienDung
            </div>
        </footer>
    </div>
    <!--===============================================================================================-->
    <script src="~/lib/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/lib/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/lib/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <!--===============================================================================================-->
    
    <script language="javascript" src="~/js/maintable.js"></script>

   
    <script language="javascript" src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>