@{

    Layout = "_AdminLayout";
    
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="text">
        <div class="row">
            <div class="col-sm-6">
                <span>
                    Home
                </span>
            </div>
            <div class="col-sm-6" style="text-align:right">
                <span >Xin chào @ViewBag.Name</span>
            </div>
        </div>
        <hr />
    </div>
</body>
</html>
